.catagory_events{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.catagory{
    width: 100%;
    background-color: transparent;
}