@import url("https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap");

.sparsh {
  font-family: "Rouge Script", cursive;
  /* color: #FF5F01; */
  font-weight: 500;
  
}

#main-footer {
  height: 400px;
  width: 100%;
  background-color: black;
  display: flex;
  z-index: 100;
  backgound: black;
}

.footer-left-container .sparsh {
  margin-top: 80px;
  padding: 0px;
  /* background: red; */
}

.footer-left-container {
  display: flex;
  /* z-index: 200; */
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10rem;
  z-index: 100,
}

.footer-right-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  align-items: center;
  z-index: 100;
  /* backgound: black; */
}

.footer-right-container .footer-right-container-child {
  width: 80%;
  height: 70%;
  border-bottom: solid white;
  display: flex;
  align-items: flex-end;
}

.footer-right-container
  .footer-right-container-child
  .footer-right-container-child-childrens {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 40%;
  width: 100%;
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-right-container .footer-right-container-child2 {
  height: 30%;
  width: 80%;

  display: flex;
  justify-content: flex-end;
}

.footer-right-container
  .footer-right-container-child2
  .footer-right-container-child2-childrens {
  padding-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  color: #ff5f01;
}

@media screen and (max-width: 720px) {
  #main-footer {
    display: flex;
    flex-direction: column;
    z-index: 100;
    /* gap: 10px 10px; */
  }
  .footer-left-container .sparsh {
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    /* background: red; */
  }
  
  .footer-right-container {
    width: 100%;
    
    /* justify-content: center; */
  }
  .footer-left-container {
    width: 100%;
    font-size: 10rem;
  }
  .footer-right-container
  .footer-right-container-child
  .footer-right-container-child-childrens {
    display: flex;
    flex-direction: column;
    /* background: blue; */
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .footer-right-container .footer-right-container-child2 {
    height: 30%;
    width: 80%;
  
    display: flex;
    justify-content: center;
  }
  .footer-right-container
  .footer-right-container-child2
  .footer-right-container-child2-childrens {
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  color: #ff5f01;
}
}
